---
import Main from "@/layouts/main.astro";
import AboutUs from "./components/AboutUs.astro";
import ContactForm from "./components/ContactForm.astro";
import Hero from "./components/Hero.astro";
import MobileCallToAction from "./components/MobileCallToAction.astro";
import OutClients from "./components/OutClients.astro";
import PracticeAreas from "./components/PracticeAreas.astro";

const pageContent = {
  description: "Abogados especializados en Derecho Empresarial y Corporativo",
};
---

<Main content={pageContent}>
  <Hero />
  <AboutUs />
  <PracticeAreas />
  <OutClients />
  <ContactForm />
  <MobileCallToAction />
</Main>
