---
import { MENU_ITEMS } from "@/constants/menu-items";
import Logo from "@/images/logo.png";
import { Image } from "astro:assets";
import { Mail, MapPin, MessageCircle, Phone } from "lucide-react";
---

<footer class="bg-law-primary text-law-button-text">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid md:grid-cols-4 gap-8">
      <!-- Logo y descripción -->
      <div class="space-y-4">
        <div class="flex items-center space-x-2">
          <Image
            src={Logo}
            alt="Logo"
            class="h-8 w-8"
            loading="eager"
            decoding="async"
          />
          <span class="text-xl font-bold">Ambiente Legal</span>
        </div>
        <p class="text-law-button-text/80 text-sm">
          Abogados & Consultores especializados en Derecho Empresarial y
          Corporativo. Más de 20 años de experiencia protegiendo tu activo más
          valioso: ¡Tus sueños!
        </p>
        <a
          href="https://wa.me/573154395316?text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios%20legales."
          target="_blank"
          class="inline-flex items-center space-x-2 bg-green-600 hover:bg-green-700 px-4 py-2 rounded-lg transition-colors"
        >
          <MessageCircle className="h-4 w-4" />
          <span class="text-sm font-medium">WhatsApp</span>
        </a>
      </div>

      <div>
        <h3 class="font-bold mb-4">Menú</h3>
        <ul class="space-y-2 text-sm text-law-button-text/80">
          {
            MENU_ITEMS.map((item) => (
              <li>
                <a href={item.href}>{item.label}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Contacto -->
      <div>
        <h3 class="font-bold mb-4">Contacto</h3>
        <div class="space-y-3 text-sm text-law-button-text/80">
          <div class="flex items-center space-x-2">
            <Phone className="h-4 w-4" />
            <a href="tel:+573154395316">+57 315 439 5316</a>
          </div>
          <div class="flex items-center space-x-2">
            <Mail className="h-4 w-4" />
            <a href="mailto:ambientelegalco@gmail.com"
              >ambientelegalco@gmail.com</a
            >
          </div>
          <div class="flex items-start space-x-2">
            <MapPin className="h-4 w-4 mt-0.5" />
            <span>
              Ecoparque empresarial natura, Torre 3, Oficina 246<br />
              Bucaramanga, Colombia
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="border-t border-law-button-text/20 mt-8 pt-8">
      <div
        class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
      >
        <div class="text-sm text-law-button-text/80">
          &copy; {new Date().getFullYear()} Ambiente Legal - Abogados & Consultores.
          Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
</footer>
